# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# ICON
.score
.statedb
exc
tbears.log
__pycache__/
*.py[cod]
venv
precommit
tbears/logs

# Config
config/*

!config/address_book
!config/address_registrar
!config/balance_history_manager
!config/event_manager
!config/iconsafe
!config/transaction_manager
!config/wallet_owners_manager
!config/wallet_settings_manager

config/address_book/localhost/score_address.txt
config/address_book/euljiro/score_address.txt
config/address_book/mainnet/score_address.txt
config/address_book/yeouido/score_address.txt

config/address_registrar/localhost/score_address.txt
config/address_registrar/euljiro/score_address.txt
config/address_registrar/mainnet/score_address.txt
config/address_registrar/yeouido/score_address.txt

config/balance_history_manager/localhost/score_address.txt
config/balance_history_manager/euljiro/score_address.txt
config/balance_history_manager/mainnet/score_address.txt
config/balance_history_manager/yeouido/score_address.txt

config/event_manager/localhost/score_address.txt
config/event_manager/euljiro/score_address.txt
config/event_manager/mainnet/score_address.txt
config/event_manager/yeouido/score_address.txt

config/iconsafe/localhost/score_address.txt
config/iconsafe/euljiro/score_address.txt
config/iconsafe/mainnet/score_address.txt
config/iconsafe/yeouido/score_address.txt

config/transaction_manager/localhost/score_address.txt
config/transaction_manager/euljiro/score_address.txt
config/transaction_manager/mainnet/score_address.txt
config/transaction_manager/yeouido/score_address.txt

config/wallet_owners_manager/localhost/score_address.txt
config/wallet_owners_manager/euljiro/score_address.txt
config/wallet_owners_manager/mainnet/score_address.txt
config/wallet_owners_manager/yeouido/score_address.txt

config/wallet_settings_manager/localhost/score_address.txt
config/wallet_settings_manager/euljiro/score_address.txt
config/wallet_settings_manager/mainnet/score_address.txt
config/wallet_settings_manager/yeouido/score_address.txt



!config/keystores
config/keystores/*
!config/keystores/localhost

*.code-workspace
setup.cfg
scripts/scenario
.vscode
temp_conf.json
cleantbears.sh
docker.ps1
docker.sh
faucet_testnet.icx
icon_rc.log
rc.log
stop_docker.sh
sync.sh

.iscoredb
.testscore
.teststatedb
rc-*.log

config/address_book/localhost/score_address.txt
config/address_registrar/localhost/score_address.txt
config/balance_history_manager/localhost/score_address.txt
config/event_manager/localhost/score_address.txt
config/iconsafe/localhost/score_address.txt
config/transaction_manager/localhost/score_address.txt
config/wallet_owners_manager/localhost/score_address.txt
config/wallet_settings_manager/localhost/score_address.txt

!config/address_book/install.sh
!config/address_registrar/install.sh
!config/balance_history_manager/install.sh
!config/event_manager/install.sh
!config/iconsafe/install.sh
!config/transaction_manager/install.sh
!config/wallet_owners_manager/install.sh
!config/wallet_settings_manager/install.sh
!config/install.sh
